<div class="brand-list">
    <img class="brand-list__logo" ng-src="{{$ctrl.brand.metadata.logo}}" />
    <div class="brand-list__img" ng-style="$ctrl.getImageBackground($ctrl.brand.metadata.img)">
        <div class="brand-list__img-gradient">
        </div>
    </div>

    <div class="brand-list__content">
        <a class="white-link div-link block-link" ng-href="{{$ctrl.brand.metadata.url}}">
            <h4 class="brand-list__title">{{$ctrl.brand.metadata.title}}</h4>
        </a>
        <div class="row brand-list__articles">
            <a class="col-xs-12 col-sm-6 col-md-4 brand-list-item div-link white-link" ng-repeat="n in $ctrl.brand.articles | limitTo: 3" ui-sref="article({articleId: n.id})">
                <div class="brand-list-item__container">
                    <p class="brand-list-item__title"><span ng-bind-html="n.title"></span></p>
                    <span class="caption-sm brand-list-item__time" am-time-ago="n.publishedAt"><span>
                </div>
            </a>
        </div>
    </div>
</div>