.brand-list {
    position: relative;
    display: flex;
    width: 100%;
    height: 50%;
    margin: 5px;
    padding-bottom: 5px;
    background-color: $white;
}

.brand-list__img {
    background-color: $gray;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

.brand-list__logo {
    position: absolute;
    top: 16px;
    right: 0px;
    width: 144px;
    z-index: 10;
}

.brand-list__img-gradient {
    width: 100%;
    height: 100%;
    background-image: linear-gradient( 45deg, rgba(0, 0, 0, .5), transparent);
}

.brand-list__content {
    flex: 1 1;
    color: $white;
    position: relative;
    z-index: 10;
}

.brand-list__title {
    color: $white;
    margin-top: 24px;
    margin-left: 20px;
    max-width: 480px;
    font-size: 2.2rem;
    text-shadow: 1px 1px rgba(0, 0, 0, .1);
    // letter-spacing: 0px;
}

.brand-list-item {
    display: flex;
    padding: 8px;
    color: $white;
    .brand-list-item__container {
        flex: 1 0;
        position: relative;
        padding: 0;
        // padding-bottom: 32px; // space for .brand-list-item__time
        margin: 0 12px;
    }
    &:hover {
        .brand-list-item__title {
            span {
				border-bottom: 1px solid $white;
				@media (min-width: $small-breakpoint) {
                	border-bottom: 1px solid $white;
                	text-shadow: 1px 1px rgba(0, 0, 0, .2);
				}
            }
        }
    }
}

.brand-list-item__title {
    margin-bottom: -4px;
    line-height: 2.2rem;

    @include breakpoint(sm) {
		line-height: 2rem;
		font-size: 1.4rem;
  	}
}

.brand-list-item__time {
   color: white;
   font-weight: 400;
}

@media (min-width: $small-breakpoint) {
    .brand-list {
        min-height: 400px;
    }
    .brand-list__img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .brand-list__title {
        margin-bottom: 100px;
    }

	.brand-list__articles {
    	position: absolute;
    	bottom: 0;
	}
}

@media (max-width: $small-breakpoint - 1) {
	.brand-list {
		flex-direction: column;
        background-color: #F03226; // alphabank color
	}
    .brand-list__img {
		width: 100%;
		height: 240px;
        @media(max-width: $xs-breakpoint - 1) {
            height: 200px;
        }
	}

    .brand-list__img-gradient {
        display: none;
    }

	h4,a {
		text-shadow: none !important;
		// color: $black !important;
	}

	.brand-list-item {
		border-bottom: 1px solid $gray-bg;
		&:last-child {
			border-bottom: none;
		}
	}
}