<h2>Распространение
</h2>
<p>Около 300 точек бесплатного распространения: салоны, магазины, отели, рестораны и пр. места премиум-сегмента.
</p>
<p>
	Также наши издания можно найти на международных рейсах компаний Belavia и Etihad Airways.
</p>
<p>
	<a href="http://fcollection.by/wp-content/uploads/fc-where-to-find.pdf" target="_blank">Скачать список распространения</a>
</p>