<!--<loader ng-show="isPageLoading()"></loader>-->
<div class="tilda" ng-bind-html="gridController.tilda"></div>
<section class="grid" ng-class="{'loading' : isLoading}" ng-hide="isPageLoading()">

	<!-- <div class="row tilda-footer" ng-if="gridController.tilda && !error">
		<h4 class="tilda-footer__title"><span>{{section.name}} &mdash; Как это было</span></h4>
	</div> -->

	<!-- block -->
	<div class="row" ng-repeat="block in gridController.blocks track by $index">
		<!--cover -->
		<div ng-if="block.cover && block.cover.length" ng-init="cover = block.cover" class="col-xs-12 cell-container cover">
			<a class="cell__cover row div-link" ui-sref="article({articleId: cover[0].id})">
				<div class="col-xs-6 no-padding cover__image__container" lazy-img='{{cover[0].featuredImage.url}}'>
					<!-- <img class="cover__image" alt="" ng-src="{{cover[0].featuredImage.url}}"/> -->
				</div>
				<div class="col-xs-6 cover__content__container">
					<div class="cover__content__top row center-xs">
						<span class="cover__content__top__center caption">{{::cover[0].tags[0].name}}</span>
					</div>
					<div class="cover__content__main">
						<h2 class="cover__content__main__top cover__title">
                            <span ng-bind-html="::cover[0].title"></span>
                        </h2>
						<p class="cover__content__main__bottom cover__excerpt">
							<span>{{::cover[0].excerpt}}</span>
						</p>
					</div>
					<div class="cover__content__bottom row between-xs">
						<span class="cover__content__bottom__left caption-sm">
                            {{::cover[0].author}}
                        </span>
						<span class="cover__content__bottom__right caption-sm" am-time-ago="::cover[0].createdAt"></span>
					</div>
				</div>
			</a>

			<!-- main article mobile -->
			<a class="cell__cover__xs div-link" ui-sref="article({articleId: cover[0].id})">
				<div class="cell__bg-image__container cell_bg-image-filter" lazy-img='{{cover[0].featuredImage.url}}'>
					<!-- <img ng-src="{{cover[0].featuredImage.url}}"/> -->
				</div>
				<div class="cell__bg-color"></div>

				<div class="cell">
					<div class="cell__content_container">
						<div class="cell__content__top row center-xs">
							<span class="cell__content__top__center caption caption-white">{{::cover[0].tags[0].name}}</span>
						</div>
						<div class="cell__content__main row middle-xs">
							<div class="cell__content__main_top">
								<h2 class="cell__title" ng-bind-html="::cover[0].title"></h2>
							</div>
						</div>
						<div class="cell__content__bottom row center-xs">
							<span class="cell__content__bottom__center caption-sm caption-white" am-time-ago="::cover[0].createdAt"></span>
						</div>
					</div>
				</div>
			</a>
		</div>

		<!-- news -->
		<news-list class="col-xs-12 row" ng-if="$index === 0 && gridController.news.articles.length > 0" news="gridController.news"></news-list>
		<!-- brand -->
		<brand-list class="col-xs-12 row" ng-if="$index === 0 && gridController.brand.articles.length > 0" brand="gridController.brand"></brand-list>

		<!-- usual aritcles -->
		<a ng-repeat="a in block.articles track by a.id" ng-init="isFI = a.featuredImage !== undefined" class="col-xs-12 col-sm-6 col-md-4 cell-container div-link" ui-sref="article({articleId: a.id})">
			<div ng-if="isFI" class="cell__bg-image__container cell_bg-image-filter" lazy-img='{{a.featuredImage.url}}'>
			</div>
			<div class="cell__bg-color"></div>

			<div class="cell">
				<div class="cell__content_container">
					<div class="cell__content__top row center-xs">
						<span class="cell__content__top__center caption" ng-class="{'caption-white': isFI, 'caption-underline': !isFI }">{{::a.tags[0].name}}</span>
					</div>
					<div class="cell__content__main row middle-xs">
						<h2 class="cell__content__main_top cell__title" ng-class="{'cell_title_black': !isFI}">
                            <span ng-bind-html="::a.title"></span>
                        </h2>
					</div>
					<div class="cell__content__bottom row center-xs">
						<span class="cell__content__bottom__center caption-sm" ng-class="{'caption-white': isFI}" am-time-ago="::a.createdAt"></span>
					</div>
				</div>
			</div>
		</a>

        <!-- lookbook -->
		<lookbook-list class="col-xs-12 row" ng-if="$index === 0 && gridController.lookbook.articles.length > 0" lookbook="gridController.lookbook"></lookbook-list>

	</div>

</section>

<!--show more-->
<div class="row center-xs u-mg-b-40-sm">
	<div ng-show="!isLastPage() && !isPageLoading() && !gridController.page.isLoadingMore">
		<button class="button button-outline button-fc no-margin" ng-click="loadMore()">Показать Ещё</button>
	</div>
	<loader class="relative" ng-show="gridController.page.isLoadingMore"></loader>
</div>


<!-- empty section-->
<div class="error-message" ng-if="isEmpty() && !isPageLoading()">
	<div class="">
		<p>В разделе пусто.</p>
		<button class="button button-outline button-fc no-margin" ui-sref="section({sectionId: 'magazine'})">Перейти к журналу</button>
	</div>
</div>