.article.container {
    margin-top: 40px;
    background-color: $white;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

article.article-wrapper {
    margin: auto;
    max-width: 716px;
    padding: 0 8px;
}
//Header
header.article-header {
    position: relative;
    min-height: 260px;
    padding-top: 24px;
    padding-bottom: 44px; // because .article-header-meta-bottom is absolute, reserve space
    border-bottom: 1px solid $gray01;
    margin-bottom: 25px;
}

.article-header-meta-bottom {
    position: absolute;
    bottom: 20px;
}

.article-header-content {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.article-header-content-title {
    letter-spacing: 0;
    line-height: 1.2;
}

.article-header-content-excerpt {
    max-width: 75%;
    margin: auto;
}
//Content
.article-content {
    margin-bottom: 25px;
}
//Footer
.article-footer {
    padding-top: 25px;
    border-top: 1px solid $gray01;
}

.article-footer-tags-header {
    letter-spacing: 0;
    font-size: 2rem;
    margin-bottom: 0.5rem;

}

.article-footer-tags-list {
    line-height: 1.2;
    a {
        text-transform: none;
        font-weight: 400;
    }
}

.caption-list-float {
    margin-right: 4px;
}

.caption-list-float.icon-dot:before {
    margin-right: 4px;
}

@include breakpoint (sm) {
    .article-header-content-title {
        font-size: 2.5rem;
    }
}

@include breakpoint (xs) {
    .article.container {
        margin-top: 25px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .article-header-content {
        text-align: left;
    }

    .article-header-content-excerpt {
        max-width: 100%;
    }
    .article-header-content-title {
        font-size: 2.4rem;
    }
};

@include breakpoint (xxs) {
    .article.container {
        margin-top: 25px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .article-header-content {
        text-align: left;
    }

    .article-header-content-excerpt {
        max-width: 100%;
    }
    .article-header-content-title {
        font-size: 2.4rem;
    }
};

