<div class="lookbook-list">
    <a class="white-link div-link block-link" ui-sref="tag({tagId: $ctrl.lookbook.metadata.tag})">
            <h4 class="lookbook-list__title">{{$ctrl.lookbook.metadata.title || 'Лукбуки'}}</h4>
            <a href="mailto:infomodafest@gmail.com" class="lookbook-list__link caption caption-sm">Прислать Лукбук</a>
    </a>
    <div class="lookbook-list__container row">
        <a class="col-xs-6 col-md-3 lookbook-list-item div-link" ng-repeat="n in $ctrl.lookbook.articles | limitTo: 4" ui-sref="article({articleId: n.id})">
            <div class="lookbook-list-item__container row bottom-xs">
                <div class="lookbook-list-item__img cell_bg-image-filter" lazy-img='{{n.featuredImage.url}}'></div>
                <h4 class="lookbook-list-item__title"><span ng-bind-html="n.title"></span></h4>
            </div>
		</a>
	</div>
</div>