.lookbook-list {
    width: 100%;
    margin: 5px;
    padding-bottom: 5px;
    background-color: $white;
    border-top: 3px solid $accent2;
    position: relative;
}

.lookbook-list__container {
    padding: 0 12px;
}

.lookbook-list__link {
    position: absolute;
    top: 15px;
    right: 20px;
}

.lookbook-list__title {
    margin-top: 10px;
    margin-left: 20px;
}

.lookbook-list-item {
    display: flex;
    padding: 8px;
    .lookbook-list-item__container {
        position: relative;
        padding-bottom: 16px;
    }
}

.lookbook-list-item__title {
    padding: 0 8px;
    z-index: 10;
    position: relative;
    width: 100%;
    text-align: center;
    line-height: 1.4;
    color: #eee;
    word-break: break-all
}

.lookbook-list-item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $gray;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.lookbook-list-item__container {
    height: 282px;
}

.lookbook-list-item__title {
    font-size: 20px;
    letter-spacing: 1px;
}

//#####################
// md
//#####################
@include breakpoint(md) {
    .lookbook-list-item__container {
        height: 222px;
    }
}

//#####################
// sm
//#####################
@include breakpoint(sm) {
    .lookbook-list-item__container {
        height: 334px;
    }
}

//#####################
// xs
//#####################
@include breakpoint(xs) {
    .lookbook-list-item__container {
        height: 347px;
    }
}

//#####################
// xs
//#####################
@include breakpoint(xxs) {
    .lookbook-list-item__container {
        height: 250px;
    }
    .lookbook-list-item__title {
        font-size: 16px;
        letter-spacing: .8px;
    }
}

@media (min-width: $small-breakpoint) {
    .lookbook-list-item:hover {
        .cell_bg-image-filter {
            filter: brightness(45%);
            transition: .1s filter linear;
        }
        .lookbook-list-item__title {
            span {
                border-bottom: 1px solid $accent2;
            }
        }
    }
}