.article-grid {
	height: 640px;
	margin: 16px 0;
}

.article-list-wrapper {
  padding: 16px 0;
  margin-bottom: 16px;
}

.featured-image {
  padding: 8px;
  object-fit: cover;
  width: 75px;
  height: 75px;
}

.article {
  margin-top: 16px;
  margin-bottom: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgba(0,0,0,0.03);
  cursor: pointer;

  &:hover {
    background-color: rgba(0,0,0,0.1);
  }

  h4 {
    margin-bottom: 4px;
  }

  p {
    margin: 0;
  }

  .meta {
    &>span {
      margin-right: 16px;
      color: gray;

      &>span {
        color: black;
        font-weight: 600;
      }
    }
  }
}

.add-article-wrapper {
  padding: 16px 0;
  margin-bottom: 16px;
}

.article-image-thumb {
  object-fit: cover;
  width: 220px;
  height: 150px;
}

// gallery
.fc-image-gallery {
	display: flex;
	flex-wrap: wrap;
  flex-direction: row;
	justify-content: space-around;
}

.fc-image-gallery__thumb-figure {
	width: calc(33% - 1rem);
	margin: .5rem;
}

.fc-image-gallery__thumb-img {
	width: 100%;
	height: auto;
	display: block;
  margin: 0;
}