<div class="container">
    <ul class="nav nav-tabs">
        <li role="presentation" ui-sref-active="active"><a ui-sref="articles.articlesList">Все Статьи</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="articles.article">Статья</a></li>
    </ul>
    <div class="ui-view"></div>
</div>
