<div class="photos-list row">
    <div class="photo-cell col-xs-2" ng-repeat="image in galleryController.images" ng-click="galleryController.openLightboxModal($index)">
        <div class="photo col-xs-12">
            <img class="photo-thumb" ng-src="{{image.thumbnailUrl || image.url}}" alt="">
        </div>
    </div>
</div>
<loader class="full" ng-show="isLoading"></loader>
<nav ng-if="!galleryController.end">
    <ul class="pager">
        <li><a ng-click="galleryController.loadMore()">Показать Ещё</a></li>
    </ul>
</nav>
