@font-face {
  font-family: 'Austin';
  src: url('../assets/fonts/austin/AustinCyr-Bold.eot?#iefix') format('embedded-opentype'),  url('../assets/fonts/austin/AustinCyr-Bold.otf')  format('opentype'),
	     url('../assets/fonts/austin/AustinCyr-Bold.woff') format('woff'), url('../assets/fonts/austin/AustinCyr-Bold.ttf')  format('truetype'), url('../assets/fonts/austin/AustinCyr-Bold.svg#AustinCyr-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
