@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/fonts/helveticaneue/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),  url('../assets/fonts/helveticaneue/HelveticaNeueCyr-Roman.otf')  format('opentype'),
	     url('../assets/fonts/helveticaneue/HelveticaNeueCyr-Roman.woff') format('woff'), url('../assets/fonts/helveticaneue/HelveticaNeueCyr-Roman.ttf')  format('truetype'), url('../assets/fonts/helveticaneue/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
  font-weight: 400;
  font-style: normal;;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: url('../assets/fonts/helveticaneue/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),  url('../assets/fonts/helveticaneue/HelveticaNeueCyr-Light.otf')  format('opentype'),
	     url('../assets/fonts/helveticaneue/HelveticaNeueCyr-Light.woff') format('woff'), url('../assets/fonts/helveticaneue/HelveticaNeueCyr-Light.ttf')  format('truetype'), url('../assets/fonts/helveticaneue/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'HelveticaNeueCyr-Medium';
  src: url('../assets/fonts/helveticaneue/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),  url('../assets/fonts/helveticaneue/HelveticaNeueCyr-Medium.otf')  format('opentype'),
	     url('../assets/fonts/helveticaneue/HelveticaNeueCyr-Medium.woff') format('woff'), url('../assets/fonts/helveticaneue/HelveticaNeueCyr-Medium.ttf')  format('truetype'), url('../assets/fonts/helveticaneue/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium') format('svg');
  font-weight: 500;
  font-style: bold;
}
