/**
 *  If you want to override some foundation settings, you have to change values here.
 *  The list of settings values are listed here bower_components/foundation/scss/foundation/_settings.scss
 */
@import "../../src/app/styles/priorityStyles/constants";
@import "../../src/app/styles/priorityStyles/flexboxgrid";
@import "../../src/app/styles/priorityStyles/common";

/**
 *  The import of foundation is made manually because there is still no links of the
 *  sass version in their bower.json...
 */
/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
html,
body {
    width: 100%;
    min-height: 100vh;
	height: auto;
    background-color: $gray-bg;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
    box-sizing: border-box !important;
}

// sticky footer ie fix ???
// http://philipwalton.com/articles/normalizing-cross-browser-flexbox-bugs/
body {
    -webkit-overflow-scrolling: auto;
    display: flex;
    flex-direction: column;
}

main-nav,
main-footer{
    flex-shrink: 0;
}

.content-wrapper {
    flex: 1 0 auto;
	min-height: 300px; // to prevent collapse when no content inside
    // -webkit-transform: translateZ(0px); // breaks position: fixed
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
