<nav class="sub-nav-container">
	<div class="sub-nav-container-top row center-xs around-xs">
		<div class="sub-nav-tag" append-tag-dot ng-repeat="tag in $ctrl.tags">
			<a ui-sref="tag({tagId: tag.id})">{{tag.name}}</a>
		</div>
	</div>
	<div class="sub-nav-container-bottom row center-xs between-xs">
		<a href="/p/about" class="sub-nav-help-link">О Проекте</a>
		<a href="/p/about-magazine" class="sub-nav-help-link">Журнал</a>
		<a href="" class="sub-nav-help-link">Архив</a>
	</div>
</nav>

<nav class="sub-nav-container-xs">
	<div class="sub-nav-container-xs-top">
		<ul class="nav-menu-xs">
			<li class="menu-item" ng-repeat="section in $ctrl.sections | limitTo:3" ui-sref-active="active">
				<a ui-sref="section({sectionId: section.id})">{{section.name}}</a>
			</li>
		</ul>
		<ul class="nav-menu-xs nav-menu-xs-second-row">
			<li class="menu-item" ng-repeat="section in $ctrl.sections| offset:3 | limitTo:2 " ui-sref-active="active">
				<a ui-sref="section({sectionId: section.id})">{{section.name}}</a>
			</li>
		</ul>
	</div>
</nav>
