.fc-image-gallery {
	display: flex;
	flex-wrap: wrap;
    flex-direction: row;
	justify-content: flex-start;
}

.fc-image-gallery__thumb-figure {
	width: calc(25% - 1rem);
	@media(max-width: $small-breakpoint - 1) {
		width: calc(33% - 1rem);
	}
	@media(max-width: $small-breakpoint - 1) {
		width: calc(50% - 1rem);
	}
	margin: .5rem;
	cursor:-webkit-zoom-in;
	cursor: zoom;

	img {
		transition: filter .2s;
		transition: transform .2s;
	}
}

.fc-image-gallery__thumb-figure:hover {
	img {
		filter: brightness(77%);
		transform: scale(1.03);
	}
}

.fc-image-gallery__thumb-img {
	width: 100%;
	height: auto;
	display: block;
	margin: 0 !important;
}

// photo-swipe

.fc-ps {
	button {
		background-color: transparent !important;
	}

	.pswp__button {
		&:before {
			background-color: transparent;
		}
	}
}
