.static-page {
	@extend .article;
	min-height: 400px;
}

.static-page-wrapper {
	margin: auto;
	max-width: 716px;
	@extend .article-wrapper;
	padding: 40px 16px;

	@media (max-width: $small-breakpoint - 1) {
		padding: 20px 5px;
	}
}

.static-page-content {
	@extend .article-content;
}
