<nav class="main-nav-container">
	<a href="/" class="top-logo">
		<img class="top-logo-img" src="assets/images/modafestLogoBlack.png" alt="Fashion Collection">
	</a>

	<nav class="main-nav">
		<div class="nav-icon left-icon" ng-click="$ctrl.toggleSubnav()" ng-class="{'active': $ctrl.openSubnav}">
			<i ng-class="!$ctrl.openSubnav ? 'icon-menu' : 'icon-cancel'"></i>
		</div>

		<div class="nav">
			<ul class="nav-menu">
				<li class="menu-item" ng-repeat="section in $ctrl.sections" ui-sref-active="active">
					<a ui-sref="section({sectionId: section.id})">{{section.name}}</a>
				</li>
			</ul>
			<a href="/" class="logo-container-xs row center-xs">
				<img class="logo-xs" src="assets/images/modafestLogoBlack.png" alt="Fashion Collection" >
			</a>
		</div>

		<div class="nav-icon right-icon" ng-click="$ctrl.toggleSearchBar()" ng-class="{'active': $ctrl.openSearchBar}">
			<i ng-class="!$ctrl.openSearchBar ? 'icon-search' : 'icon-cancel'"></i>
		</div>
	</nav>
</nav>