
<div class="article-list-wrapper">
    <div class="article-list">
        <!--<div class="article row" ng-repeat="article in articlesListController.articles" ui-sref="articles.article({id: article.id})">
            <div class="col-xs-1">
                <img alt="" class="featured-image" ng-src="{{article.featuredImage.url}}">
            </div>
            <div class="col-xs-11">
                <h4 class="title">{{article.title}}</h4>

                <p class="excerpt u-mg-b-8">{{article.excerpt}}</p>

                <div class="meta">
          <span class="date">Дата Создания:
            <span>{{article.createdAt | date : 'shortDate'}}</span>
          </span>
          <span class="sections">Раздел:
            <span ng-repeat="section in article.sections">{{section.name}}
              &nbsp;</span>
          </span>
          <span class="tags">Теги:
            <span ng-repeat="tag in article.tags">{{tag.name}}
              &nbsp;</span>
          </span>
                </div>
            </div>
        </div>-->
		<div class="article-grid" ui-grid="articlesListController.grid" ui-grid-resize-columns ui-grid-selection></div>
		<button class="btn btn-primary pull-right" ng-click="loadArticles()">Загрузить Ещё</button>
    </div>
</div>
<loader class="full" ng-show="isLoading"></loader>

