.news-list {
	width: 100%;
	margin: 5px;
	padding-bottom: 5px;
	background-color: $white;
	border-top: 3px solid $accent;
}

.news-list__title {
	margin-top: 10px;
	margin-left: 20px;
}

.news-list-item {
	display: flex;
	padding: 8px;

	@media(max-width: $small-breakpoint - 1) {
		border-bottom: 1px solid $gray-bg;
		&:last-child {
			border-bottom: none;
		}
    }

	.news-list-item__container {
		flex: 1 0;
		position: relative;
		padding-bottom: 32px; // space for .news-list-item__time
		margin: 0 12px;
	}

	&:hover {
		.news-list-item__title {
			span {
				border-bottom: 1px solid $accent;
			}
		}
	}
}

.news-list-item__title {
	margin-bottom: -4px;
	line-height: 2.2rem;

	@include breakpoint(sm) {
		line-height: 2rem;
		font-size: 1.4rem;
  	}
}

.news-list-item__time {
	position: absolute;
	left: 0;
	bottom: 4px;
}