<div class="news-list">
    <a class="white-link div-link block-link" ui-sref="tag({tagId: 'novosti'})">
            <h4 class="news-list__title">{{$ctrl.news.metadata.title}}</h4>
    </a>
    <div class="row">
        <a class="col-xs-12 col-sm-6 col-md-4 news-list-item div-link" ng-repeat="n in $ctrl.news.articles | limitTo: 3" ui-sref="article({articleId: n.id})">
            <div class="news-list-item__container">
                <p class="news-list-item__title"><span ng-bind-html="n.title"></span></p>
                <span class="caption-sm news-list-item__time" am-time-ago="n.publishedAt"><span>
            </div>
		</a>
	</div>
</div>