@mixin line($line-width){
    display: inline-block;
    position: relative;
    left: 50%;
    margin-left: -$line-width/2;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: $gray01;
    width: $line-width;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
    top: 0.5rem;
}
@mixin line-after($line-width){
    &:after{
        @include line($line-width);
    }
}
@mixin line-before($line-width){
    &:before{
        @include line($line-width);
    }
}

a{
    color: #000;
    &:hover{
        text-decoration: none;
        color: $accent;
    }
    &:focus{
        text-decoration: none;
        color: #000;
    }
}

input {
    box-shadow: none;
    border: none;
    &:focus{
        box-shadow: none;
        border: none;
        outline: none;
    }
}

.load-more{
    text-align: center;
}

.u-line-before {
    @include line-before(75px);
}

.row{
    margin: auto;
    width: 100%;
    padding: 0;
}
.center-button-container{
    text-align: center;
    margin: auto;
    width: 300px;
    padding: 1px;
    p{
        font-size: 17px;
		margin-bottom: 10px;
    }
}

.error-message {
    @extend .center-button-container;
    margin-top: 100px;
	margin-bottom: 80px;
}

.container.loading {
    //prevent flick when content not loaded
    min-height: 100vh;
}

button.button.button-fc {
    color: $black !important;
    border-color: $black;
    &:hover{
        color: $accent2 !important;
        border-color: $accent2;
    }

    border-radius: 0;
    border-width: 2px;
}

button.button.button-clear {
    color: $accent;
}

#loading-bar .bar {
	background-color: $accent2;
}