//Fonts
$font-family-sans-serif: "PT Sans", "Open Sans", Helvetica, Roboto, Arial, sans-serif;
$font-family-serif: "PT Serif", "Times New Roman", Times, serif;
$font-family-display: "Playfair Display", Georgia;
$font-family-caption: "Helvetica Neue", Helvetica, sans-serif;
//Breakpoints
$xs-breakpoint: 568px;
$small-breakpoint: 768px;
$medium-breakpoint: 1024px;
$large-breakpoint: 1260px;

$xs-container: 100%;
$small-container: 710px;
$medium-container: 960px;
$large-container: 1200px;

@mixin breakpoint($class) {
 @if $class == xxs {
     @media (max-width: $xs-breakpoint - 1) {
       @content;
     }
 }
  @else if $class == xs {
    @media (min-width: $xs-breakpoint) and (max-width: $small-breakpoint - 1) {
      @content;
    }
  }

  @else if $class == sm {
    @media (min-width: $small-breakpoint) and (max-width: $medium-breakpoint - 1) {
      @content;
    }
  }

  @else if $class == md {
    @media (min-width: $medium-breakpoint) and (max-width: $large-breakpoint - 1) {
      @content;
    }
  }

  @else if $class == lg {
    @media (min-width: $large-breakpoint) {
      @content;
    }
  }

  @else {
    @warn "Breakpoint mixin supports: xs,sm, md, lg";
  }
}
//Colors
$black: #333;
$white: #fefefe;
$accent: #92A8D1;
$accent2: #f4c9c8;
$gray-bg: #F6F6F6;
$light-gray: #B2B2B2;
$gray: #888888;
$gray03: rgba(0,0,0,0.3);
$gray01: rgba(0,0,0,0.1);
