.add-article-wrapper {
  .ta-editor {
    height: auto;
    overflow: visible;
    font-family: inherit;
    font-size: 100%;
    margin: 20px 0;

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  .ta-scroll-window > .ta-bind {
  }

  .ta-text {
    font-size: 1.25rem;
    line-height: 1.5;
    letter-spacing: 0.01rem;
    word-break: break-word;
    word-wrap: break-word;

    p {
      margin: 0;
      font-size: 1.25rem;
      line-height: 1.5;
      letter-spacing: 0.01rem;
      word-break: break-word;
      word-wrap: break-word;
      margin-bottom: 1.6rem;
    }

    blockquote {
      text-align: center;
      line-height: 1.8rem;
      margin: 3rem auto;
      max-width: 75%;
      color: rgba(0, 0, 0, 0.5);
      font-style: italic;
      font-weight: 300;
      border-left: 3px solid $black;
      padding: 0;

      p {
        font-size: 1.4rem;
        //font-family: $font-family-sans-serif;
      }
    }

    ul {
      list-style: disc;
      color: $gray;
    }

    li {
      color: $black;
      margin-bottom: 0;
      font-size: 1.2rem;
    }

    img {
      display: block;
      margin: 0 auto;
      padding-top: 1rem;
      max-width: 100%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      //font-family: $font-family-serif;
      color: $black;
      font-weight: 500;
      margin: 0;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
  }
}
