<div search-input-control>
	<nav class="sub-nav-container">
		<div class="search-bar-container">
			<input id="desktop-search-input" type="text" class="search-input desktop-search-input" placeholder="Поиск" ng-model="searchbar.term" />
			<button class="button button-clear search-btn" ng-click="searchbar.search()">
			<i class='icon-search'></i>
		</button>
		</div>
	</nav>

	<nav class="sub-nav-container-xs">
		<div class="search-bar-container">
			<input id="mobile-search-input" type="text" class="search-input mobile-search-input" placeholder="Поиск" ng-model="searchbar.term" />
			<button class="button button-clear search-btn" ng-click="searchbar.search()">
			<i class='icon-search'></i>
		</button>
		</div>
	</nav>
</div>