.search-bar-container {
	max-width: 540px;
    margin: auto;
	padding-top: 18px;
	padding-left: 5px;
	padding-right: 5px;
	position: relative;

	.search-input {
		width: 100%;
		border-radius: 0;
		height: 48px;
		&,
		&:active,
		&:focus {
			border-top-width: 0;
			border-left-width: 0;
			border-right-width: 0;
		}

		&:active,
		&:focus {
			border-bottom-width: 2px;
			border-bottom-color: $accent;
		}
	}

	.search-btn {
		padding: 0;
		margin: 0;
		width: 48px;
		height: 48px;
		border-radius: 0;
		position: absolute;
		right: 0;
		top: 20px;
		i {
			color: $gray;
			font-size: 18px;
		}
		&:active,
		&:focus,
		&:hover {
			i {color: $accent;}
		}
	}
}

