.editor-wrapper {
	padding: 16px 0;
}

.ace-editor {
	height: 600px;
}


// ui-grid fonts fix
@font-face {
  font-family: 'ui-grid';
  src: url('../assets/fonts/ui-grid.eot');
  src: url('../assets/fonts/ui-grid.eot#iefix') format('embedded-opentype'), url('../assets/fonts/ui-grid.woff') format('woff'), url('../assets/fonts/ui-grid.ttf') format('truetype'), url('../assets/fonts/ui-grid.svg?#ui-grid') format('svg');
  font-weight: normal;
  font-style: normal;
}