#toast-container .toast {
    font-family: Helvetica, Arial, sans-serif !important;
    font-size: 12px;
    color: #4c4c4c;
    padding-left: 32px;
    opacity: 1;
}

#toast-container .toast .close-button:after {
    color: #4c4c4c !important;
}



#toast-container .toast.toast-success {
    background-color: white !important;
    background-image: none !important;

    color: #4c4c4c;
    border: 1px solid #4c4c4c;
}

#toast-container .toast.toast-error {
    background-color: white !important;
    background-image: none !important;

    color: red;
    border: 1px solid #dd0000;
}

#toast-container .toast.toast-default .toast-message {
    font-family: Helvetica;
}

#toast-container.toast-top-right {
    border-top: none;
}

#toast-container .toast {
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
}
