.u-mg-t-16{
    margin-top: 16px !important;
}
.u-mg-b-16{
    margin-bottom: 16px !important;
}
.u-mg-t-8{
    margin-top: 8px !important;
}
.u-mg-b-8{
    margin-bottom: 8px !important;
}

.form-group>label>em{
    font-size: 10px;
    font-weight: normal;
    color: gray
}

button.btn>i{
    margin-left: 4px;
}


.modal-header {
    padding-right: 20px;
    position: relative;
}
.modal-header__right-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    .fa {
        margin: 0;
    }
}
