loader {
    &.full {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.1);

        .spinner {
            position: fixed;
            top: 50%;
            left: calc(50% - 35px);
        }
    }
}
