<header class="header-wrapper" id="main-header" ng-class="{'sub-nav__open' : openSubnav, 'search-bar__open': index.isSearch}" click-outside="closeSubnav(); closeSearchBar();">

	<div class="social-navbar">
		<i class="icon-facebook-squared social-icon" ng-click="openBlank(social.fb)"></i>
		<i class="icon-vkontakte social-icon" ng-click="openBlank(social.vk)"></i>
		<i class="icon-instagram social-icon" ng-click="openBlank(social.inst)"></i>
	</div>

	<main-nav-bar sections="navbar.sections" open-subnav="openSubnav" open-search-bar="index.isSearch" toggle-subnav="toggleSubnav()" toggle-search-bar="toggleSearchBar()">
	</main-nav-bar>
	<sub-nav id="sub-nav" sections="navbar.sections" tags="navbar.tags"></sub-nav>
	<search-bar id="search-bar" is-open="index.isSearch" toggle-search-bar="toggleSearchBar()"></search-bar>
</header>