@mixin sub-nav__open-transition($x){
    transform: translate3d(0,$x,0);
    transition: transform 0.25s;
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

$sub-nav-h: 86px;


.header-wrapper{
    width: 100%;
    height: 250px;
    background-color: $white;
    position: relative;
}

.top-logo{
	display: block;
    position: relative;
    height: calc(250px - 64px);
    .top-logo-img{
        position: relative;
        width: 200px;
        margin: auto;
        display: block;
        top: 40px;
    }
}

.main-nav-container{
    position: relative;
    box-shadow: 0 3px 6px rgba(0,0,0,0.06);
    z-index: 300;
    background-color: $white;
    transition: box-shadow ease 0.3s;
}

.main-nav{
    position: relative;
    height: 64px;
    padding: 0 64px;
    border-top: 1px solid $gray01;
    border-bottom: 1px solid $gray01;
}

.nav {
    padding: 0 64px;
}

.logo-container-xs{
    display: none;
}

.nav-menu{
    max-width: 680px;
    margin: auto;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    .menu-item {
        font-family: $font-family-sans-serif;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        line-height: 64px;
        position: relative;
        &.active:after{
            content: "";
            position: absolute;
            bottom: 20px;
            right: 0;
            width: 100%;
            border-bottom: 2px solid $accent;
        }
        a {
            border-bottom: 0;
        }

    }
}

.nav-menu-xs{
    @extend .nav-menu;
}

.nav-icon {
    position: absolute;
    bottom: 0;
    border: none;
    cursor: pointer;

    text-align: center;
    font-size: 20px;
    color: $black;
    height: 100%;
    line-height: 64px;
    width: 64px;

	&.active {
		i {
			color: $accent;
		}
	}
}
.left-icon {
    left: 0;
    border-right: 1px solid $gray01;
}
.right-icon {
    right: 0;
    border-left: 1px solid $gray01;
}

.icon-menu {
    font-size: 22px;
}

.sub-nav-container,
.sub-nav-search-bar {
    position: absolute;
    left: 0;
    top: calc(250px - 86px);
    width: 100%;
    height: $sub-nav-h;
    background-color: $white;
    z-index: 200;
    box-shadow: 0 3px 6px rgba(0,0,0,0.06);

    @include sub-nav__open-transition(-$sub-nav-h);
}

.sub-nav-container-xs{
    display: none;
}

.header-wrapper.sub-nav__open {
	#search-bar {
		display: none;
	}
}

.header-wrapper.search-bar__open {
	#sub-nav {
		display: none;
	}
}

.header-wrapper.sub-nav__open,
.header-wrapper.search-bar__open{
    .main-nav-container{
        box-shadow: 0 0px 0px rgba(0,0,0,0.06);
        transition: box-shadow ease 0.3s;
    }
    .sub-nav-container,
    .sub-nav-container-xs {
        background-color: #fdfdfd;
        @include sub-nav__open-transition($sub-nav-h);
    }
}

.sub-nav-container-top{
    margin-top: 12px;
    max-width: 600px;
}
.sub-nav-container-bottom{
    margin-top: 6px;
    max-width: 220px;
}
.sub-nav-tag {
    font-size: 14px;
    font-weight: 700;
    font-family: $font-family-display;
    i {
        position: relative;
        top: -4px;
        font-size: 18px;
    }
}

.sub-nav-help-link {
    font-family: $font-family-serif;
    font-size: 13px;
    font-weight: 400;
}

.social-navbar{
    position: absolute;
    z-index: 350;
    top: 16px;
    right: 16px;
}

.social-icon {
    font-size: 20px;
    color: $light-gray;
    cursor: pointer;
    margin-right: 4px;
    &:hover{
        color: $accent;
    }
}

//#####################
// SM
//#####################

@media (max-width: $small-breakpoint - 1) {
    .nav-menu,
    .top-logo,
    .social-navbar,
    .sub-nav-container {
        display: none;
    }
    .header-wrapper {
        height: 64px;
    }

    .nav {
        padding: 0 32px;
    }

    .main-nav{
        border-top-width: 0;
    }

    .logo-container-xs{
        display: block;
        position: relative;
        height: 64px;
    }
    .logo-xs{
        position: relative;
        height: 64px;
    }

    .left-icon {
        border-right: 1px solid $white;
    }
    .right-icon {
        border-left: 1px solid $white;
    }

    .sub-nav-container-xs{
        display: block;
        position: absolute;
        left: 0;
        top: calc(64px - 86px);

        width: 100%;
        height: $sub-nav-h;
        background-color: $white;
        z-index: 200;
        box-shadow: 0 3px 6px rgba(0,0,0,0.2);

        @include sub-nav__open-transition(-$sub-nav-h);

        .sub-nav-container-xs-top{
            margin-top: 16px;
        }

        .nav-menu-xs.nav-menu-xs-second-row{
            max-width: 360px;
            padding-right: 0;
            padding-left: 0;
        }

        .nav-menu-xs{
            max-width: 480px;
            display: flex;
            justify-content: space-around;

            padding-right: 36px;
            padding-left: 36px;

            .menu-item{
                line-height: 20px;
                &.active:after{
                    bottom: 0px;
                }
            }

        }
    }
}

@include breakpoint(xxs) {
    .nav {
        padding: 0 0;
    }
    .sub-nav-container-xs{
        .nav-menu-xs{padding-left: 0; padding-right: 0}

    }
}
