.Header__logo {
  padding-bottom: 4px;
  height: 64px;
}

.Header {
  height: 64px;
  margin-bottom: 20px;

  background-color: #fff;
  color: #4c4c4c;
  box-shadow: 0 3px 6px rgba(0,0,0,0.06);
}

.Header__logo-wrapper {
  text-align: center;
}
