section.grid {
  .cell-container {
    padding: 5px;
    height: 320px;
    position: relative;
  }

  .cell {
    width: 100%;
    height: 100%;
  }

  .cell__bg-image__container {
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: $gray;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;

    img {
        width: 100%;
        max-height: 100%;
        min-height: 100%;
        object-fit: cover;
    }
  }

  .cell_bg-image-filter {
    filter:brightness(60%);
  }

  .cell__bg-color {
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: $white;
  }

  .cell__content_container {
    padding: 20px 16px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
  }

  .cell__content__bottom {
    position: absolute;
    width: calc(100% - 32px);
    bottom: 16px;
  }

  .cell__content__main {
    position: absolute;
    top: 5px;
    left: 5px;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
  }

  .cell__content__main_top {
    padding: 32px 24px;
    margin: auto;
  }

  .cell__title {
    width: 100%;
    text-align: center;
    font-size: 21px;
    margin: 0;
    letter-spacing: 1px;
    color: #eee;
    //text-shadow: 1px 1px 3px rgba(0,0,0,.5);
  }

  .cell_title_black {
    color: $black;
    text-shadow: none;
  }
  //#####################
  // LG
  //#####################
  @include breakpoint(lg) {
    .cell-container {
      height: 400px;
    }
	.cell__title {
		font-size: 24px;
	}
  }
  //#####################
  // SM
  //#####################
  @include breakpoint(sm) {
    .cell-container {
      height: 345px;
    }
  }
  //#####################
  // XS
  //#####################
  @include breakpoint(xs) {
    .cell__content__main_top {
      padding: 24px 16px;
    }

    .cell-container {
      // height: 0;
      // padding-bottom: 33%;
      height: 300px;
    }

    .cell {
      position: absolute;
      top: 0;
      left: 0;
    }

    .cell__title {
      font-size: 22px;
    }
  }
  //#####################
  // XXS
  //#####################
  @include breakpoint(xxs) {
    .cell__content__main_top {
      padding: 16px 8px;
    }
    .cell-container {
      height: 192px;
    }

    .cell {
      position: absolute;
      top: 0;
      left: 0;
    }

    .cell__title {
      font-size: 18px;
    }
  }
}

@media (min-width: $small-breakpoint) {
  section.grid .cell-container:hover {
    .cell_bg-image-filter {
      filter: brightness(45%);
      transition: .1s filter linear;
    }
    .cell {
      .cell__title {
        span {
          border-bottom: 1px solid $accent2;
        }
      }
    }
  }
}
