section.grid {
  position: relative;
  width: $medium-container;
  min-width: 300px;
  padding: 0;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35px;

  @include breakpoint(lg) {
    width: $large-container;
  };

  @include breakpoint(sm) {
    width: $small-container;
  };

  @include breakpoint (xs) {
    width: $xs-container;
  };

  @include breakpoint (xxs) {
    width: $xs-container;
    margin-top: 16px;
    margin-bottom: 16px;
  };
}

section.grid.loading{
    //prevent flick when content not loaded
    min-height: 100vh;
}

.tilda-footer__title {
  padding: 5px;
  padding-bottom: 0;
  margin-bottom: 15px;
  span {
    border-bottom: 2px solid $accent;
  }
}
