<a class="article-list-item div-link row" ui-sref="article({articleId: listItem.article.id})">
	<div class="col-xs-4" ng-show="listItem.article.featuredImage">
		<div class="article-list-item__img" lazy-img='{{listItem.article.featuredImage.url}}'>

		</div>
	</div>
	<div class="col-sm-8" ng-class="listItem.article.featuredImage ? 'col-xs-8' : 'col-xs-12'">
		<h1 class="article-list-item__title"><span ng-bind-html="::listItem.article.title"></span></h1>
		<p class="article-list-item__excerpt"><span ng-bind-html="::listItem.article.excerpt"></span></p>
	</div>
</a>