.article-list {
	padding-top: 16px;
	padding-bottom: 16px;
}

.article-list-item {
	margin-left: -1rem;
	margin-right: -1rem;
	margin-top: 16px;
	padding-bottom: 16px;

	border-bottom: 2px solid $gray-bg;

	>div:last-child {
		padding-right: 0;
		margin-right: -1rem;
	}
}

.article-list-item:hover{
	.article-list-item__title,
	.article-list-item__excerpt {
		span {
			color: $black;
			border-bottom: 1px solid $accent;
		}
	};
}

.article-list-item__img{
	margin-top: 6px;
	height: 200px;
    background-color: $white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.article-list-item__title {
	font-size: 2rem;
	letter-spacing: .16px;
	margin-bottom: 0;
}

.article-list-item__excerpt {
	font-size: 1.4rem;
	margin-top: 16px;
	margin-bottom: 0;
}

@include breakpoint(xs) {
	.article-list-item__img {
		height: 144px;
	}

	.article-list-item__title {
		font-size: 1.6rem;
	}

	.article-list-item__excerpt {
		font-size: 1.2rem;
	}
}

@include breakpoint(xxs) {
	.article-list-item__img {
		height: 120px;
	}

	.article-list-item__title {
		font-size: 1.6rem;
	}

	.article-list-item__excerpt {
		display: none;
	}
}