.article-list-item {
	padding: 16px;
	margin: 16px 0;
	background-color: #fff;
	cursor: pointer;
}

.article-list-item a {
	color: #333;
}

.article-list-item a:hover,
.article-list-item a:visited {
	color: #333;
}

.article-list-item__image {
	max-width: 100%;
	height: auto;
}

.article-list-item__tags {

}
