.tilda {
    *,
    *:after,
    *:before {
        box-sizing: content-box !important;
    }

	#allrecords{
		background-color: white;
	}

	td {
		border-bottom-width: 0;
	}

	@media (max-width: $small-breakpoint - 1) {
		*,
		*:after,
		*:before {
			box-sizing: border-box !important;
		}
	}
}