
html{
    font-size: 12px;
    letter-spacing: .05rem;
}
body {
  font-family: $font-family-sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $black;
}
h1,h2,h3,h4,h5 {
  font-family: $font-family-display;
  font-weight: 700;
  font-style: inherit;
  color: $black;
}
h5 {
  font-style: italic;
}

.caption {
  font-family: $font-family-caption;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: $light-gray;
}

.caption-white {
  color: $white;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.caption-underline {
  border-bottom: 2px $light-gray solid;
}

.caption-sm {
  @extend .caption;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 1px;
}

.caption-lg {
  @extend .caption;
  font-size: 16px;
  font-weight: 500;
}
