.u-mg-b-16 {
    margin-bottom: 16px;
}

.u-mg-b-8 {
    margin-bottom: 8px;
}

.u-mg-b-4 {
    margin-bottom: 4px;
}

.u-mg-t-25 {
    margin-top: 25px;
}

.u-mg-b-40-sm {
    @media (min-width: $xs-breakpoint) {
        margin-bottom: 40px;
    }
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

@mixin truncateText($overflow: ellipsis) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: $overflow; // values are: clip, ellipsis, or a string
}

@media (max-width: $medium-breakpoint - 1) {
    .hidden-sm {
        display: none;
    }
}

.visible-xs {
    display: none;
}

@media (max-width: $small-breakpoint - 1) {
    .hidden-xs {
        display: none;
    }
    .visible-xs {
        display: block;
    }
}

.div-link {
    cursor: pointer;
}

a:hover,
a:visited,
a:focus {
    &.div-link {
        color: $black;
    }

    &.div-link.white-link,
    &.white-link {
        color: $white;
    }

    &.block-link {
        display: block !important;
    }
}