/*

//Colors
$black: #333;
$white: #fefefe;
$accent: #92A8D1;
$accent2: #f4c9c8;
$gray-bg: #F6F6F6;
$light-gray: #B2B2B2;
$gray: #888888;
$gray03: rgba(0,0,0,0.3);
$gray01: rgba(0,0,0,0.1);


*/

body {
	font-family: "PT Sans", "Open Sans", Helvetica, Roboto, Arial, sans-serif;
	background-color: #F6F6F6;
	color: #333;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Playfair Display", Georgia;
	font-weight: 600;
	color: #333;
}

.no-margin {
	margin: 0;
}

.center-button-container {
	text-align: center;
	margin: auto;
	width: 300px;
	padding: 1px;
}

.center-button-container p {
	font-size: 17px;
	margin-bottom: 10px;
}

.button-fc {
	color: #333 !important;
	border-color: #333 !important;
	border-radius: 0;
	border-width: 2px;
}

.button-fc:hover {
	color: #f4c9c8 !important;
	border-color: #f4c9c8 !important;
}

button.button.button-clear {
	color: #92A8D1 !important;
}

.content-container {
	max-width: 700px;
	margin: auto;
	padding: 0 16px;
}

/*
	Links milligram override
*/

a {
	color: #333;
	border-bottom: 2px solid #888888;
}

a:hover {
	color: #92A8D1;
	border-bottom-color: #92A8D1;
}

a:visited {
	color: #92A8D1;
	border-bottom-color: #92A8D1;
}