<loader class="full" ng-show="isInitilizing"></loader>
<div class="add-article-wrapper" ng-hide="isInitilizing">
	<form name="articleForm" novalidate>

		<!-- id  -->
		<div class="form-group" ng-if="editMode">
			<label for="title">Id Статьи</label>
			<input class="form-control" id="title" name="title" ng-model="id" disabled required type="text">
		</div>

		<!-- isPublished  -->
		<div class="form-group">
			<label for="isCover">Опубликовать статью?
                <em>
                    Статья будет показываться в сетке. <strong>Иначе считайте её черновиком, потом можно отредактировать и опубликовать</strong>
                </em>
            </label>
			<br>
			<input type="checkbox" name="isCover" ng-model="articleController.article.isPublished">
		</div>

		<!-- Title  -->
		<div class="form-group">
			<label for="title">Заголовок Статьи</label>
			<form-invalid ng-if="articleForm.title.$invalid && articleForm.title.$touched" text="'Нужен заголовок'"></form-invalid>
			<input class="form-control" id="title" name="title" ng-model="articleController.article.title" placeholder="Заголовок Статьи" required type="text">
		</div>

		<!-- Excerpt -->
		<div class="form-group">
			<label for="excerpt">Краткое Описание
                <em>Необязательное поле - Максимум 144 символов - Осталось:
                    {{144 - articleController.article.excerpt.length}}
                </em>
            </label>
			<textarea class="form-control" id="excerpt" maxlength="144" name="excerpt" ng-model="articleController.article.excerpt" placeholder="Краткое Описание Статьи" type="text" />
		</div>
		<!-- TYPE  -->
		<div class="form-group">
			<label for="Type">Тип статьи
                <em>
					<strong>Выбор карточки в сетке</strong>
                </em>
            </label>
			<br>
			<select name="Type" ng-model="articleController.article.type">
				<option value="REGULAR">Обычная</option>
				<option value="COVER">Разворот</option>
				<option value="NEWS">Новость</option>
                <option value="LOOKBOOK">Лукбук</option>
				<option value="BRAND">Брэнд</option>
    		</select>
		</div>

		<!-- Choose Image -->
		<div class="form-group">
			<label for="image">Выбрать изображение
                <em>Необязательно</em>
                <br/>
                <em ng-show="articleController.article.type === 'REGULAR'">Идеально: соотношение 3:2, не больше 500кб</em>
                <em ng-show="articleController.article.type === 'COVER'">Идеально: соотношение 2:1, например -- 1200 x 600, не
                    больше 1000кб</em>
            </label>
			<!-- <form-invalid ng-if="!articleController.article.image" text="'Нужно изображения для статьи'"></form-invalid> -->
			<div ng-if="articleController.article.featuredImage">
				<img alt="Article Image" class="article-image-thumb" ng-src="{{articleController.article.featuredImage.url}}">
			</div>
			<br>
			<button class="btn btn-primary" ng-click="chooseImage()">
                Выбрать
            </button>
		</div>

		<!-- Choose Section -->
		<!--<div class="form-group" ng-init="currentSection = 0">
			<label for="image">Выбрать раздел
                <em>Один из разделов сайта</em>
            </label>
			<br>

			<div class="btn-group" is-open="status.isopen" uib-dropdown>
				<button class="btn btn-primary" id="single-button" type="button" uib-dropdown-toggle>
                    {{sections[currentSection].name}}
                    <i class="fa fa-caret-down"></i>
                </button>
				<ul aria-labelledby="single-button" class="uib-dropdown-menu" role="menu">
					<li ng-repeat="section in sections" role="menuitem">
						<a ng-click="sectionChoosed($index)">{{section.name}}</a>
					</li>
				</ul>
			</div>
		</div>-->

		<!-- Choose Tags -->
		<div class="form-group">
			<label for="tags">Выбрать теги
                <em>Несколько тегов для статьи</em>
            </label>
			<form-invalid ng-if="articleForm.tags.$invalid" text="'Добавьте хотя бы один Тег'"></form-invalid>
			<tags-input name="tags" display-property="name" minTags="1" ng-model="articleController.article.tags" replace-spaces-with-dashes="false" required>
				<auto-complete source="loadTags($query)"></auto-complete>
			</tags-input>
		</div>

		<!-- Article Content -->
		<div class="form-group article-content">
			<label for="content">Статья</label>
			<uib-tabset active="activeForm">
				<uib-tab index="0" heading="HTML Редактор (Рекомендуется)">
					<section class="editor-wrapper">
						<p>
							<a href="/assets/static/html-guide.pdf" target="_blank">Маленький HTML Гайд</a>
						</p>
						<button class="btn btn-default" ng-click="insertLink()">
							<i class="fa fa-link"></i> Ссылка
						</button>
						<button class="btn btn-default" ng-click="insertImages()">
							<i class="fa fa-picture-o"></i> Фото
						</button>
						<button class="btn btn-default" ng-click="insertGallery()">
							<i class="fa fa-picture-o"></i> Галерея
						</button>
						<div class="ace-editor" ui-ace="aceOptions" ng-model="articleContent">Ace here</div>
					</section>
				</uib-tab>
				<uib-tab index="1" heading="WYSIWYG (Ненадежная штука, лучше HTML)">

					<p class="u-mg-t-8 u-mg-b-8"><em>Внося изменения можно сломать текущую верстку</em></p>
					<section class="editor-wrapper">
						<div ng-model="articleContent" text-angular></div>
					</section>
				</uib-tab>
			</uib-tabset>
		</div>

		<!-- Save // Publich // Edit // View -->
		<!-- <button class="btn btn-primary" ng-disabled="!articleForm.$valid" ng-click="saveArticle()">
          Сохранить
        </button> -->

		<p>
			<em>
				{{articleController.article.isPublished ? 'Статья будет опубликована (появится в сетке)' :
				'Статья не будет опубликована (не будет видна в сетке)'}}
			</em>
		</p>

		<button class="btn btn-warning" ng-disabled="!articleForm.$valid" ng-click="saveArticle()">
            {{editMode ? 'Редактировать' : 'Создать'}}
        </button>
		<button ng-disabled="!editMode" class="btn btn-primary" ng-click="previewArticle()">
            Просмотреть
        </button>
		<form-invalid ng-if="!editMode" text="'Чтобы просмотреть, сначала необходимо создать статью'"></form-invalid>

		<button ng-if="editMode" class="btn btn-danger pull-right" ng-click="deleteArticle()">
            Удалить
        </button>

		<loader ng-show="isLoading"></loader>

	</form>
</div>