<div class="cover-wrapper">
    <loader class="white absolute" ng-show="!loaded"></loader>
    <button class="btn btn-secondary carousel-btn left" ng-click="prevArticle()" ng-show="loaded"><i class="icon-left-open"></i></button>
    <button class="btn btn-secondary carousel-btn right" ng-click="nextArticle()" ng-show="loaded"><i class="icon-right-open"></i></button>
    <div class="cover-image" ng-class="{'gradient' : loaded}" ui-sref="article({articleId: articles[currentIndex].$id, article:articles[currentIndex]})">
        <img ng-repeat="article in articles" ng-show="currentIndex == $index" ng-src="{{article.featuredImage.url}}" image-loaded="imageLoaded({{$index}})" alt="">
    </div>
    <div class="cover-title" ng-repeat="article in articles" ng-show="loaded && currentIndex == $index" ui-sref="article({articleId: articles[currentIndex].$id, article:articles[currentIndex]})">
        <h1 class="article-title">{{article.title}}</h1>
        <p class="article-excerpt">{{article.excerpt}}</p>
    </div>
    <div class="carousel-pagination" ng-show="loaded">
        <span class="page" ng-class="{'active' : currentIndex==i}"
            ng-repeat="i in [] | range: articles.length"
            ng-click="goToPage($index)"></span>
    </div>
</div>
