<h2>Журнал</h2>

<div>
	<p>Прочитать последний номер Fashion Collection</p>
	<iframe width="100%" height="600px"src="//e.issuu.com/embed.html#18192563/36830764" frameborder="0" allowfullscreen></iframe>
</div>
<br/>
<p>
	Fashion Collection Беларусь – белорусский журнал о моде, красоте и стиле жизни, один из ключевых региональных проектов крупной международной сети Fashion Collection с головным офисом в Москве. Выпускается с 2012 года.
</p>
<p>
	На страницах Fashion Collection – эксклюзивные интервью со значимыми фигурами в мире моды и искусства, аналитические статьи, обзоры примечательных тенденций, авторские фотоистории от лучших белорусских и российских фотографов.
</p>
<p>
	Над созданием белорусской версии журнала Fashion Collection работает высокопрофессиональная команда. Все редакторы и дизайнеры региональных представительств проходят обязательную стажировку в московском офисе, в основе которой – изучение новых технологий
	создания и продвижения современного журнала.
</p>
<p>
	Белорусская редакция Fashion Collection ведет активную работу на модном рынке страны – организовывает множество тематических мероприятий: показов, тематических встреч, семинаров и лекций.
</p>
<p>
	<a href="http://fcollection.by/wp-content/uploads/fc-media-kit.pdf" target="_blank">Скачать медиа-кит</a>
</p>
<p>
	<a href="/p/where-to-find">Найти журнал</a>
</p>

