<h2>
	О Проекте
</h2>
<h4>Журнал</h4>
<p>
	Fashion Collection Беларусь – белорусский журнал о моде, красоте и стиле жизни, один из ключевых региональных проектов крупной международной сети Fashion Collection с головным офисом в Москве. Выпускается с 2012 года.
</p>
<p>
	На страницах Fashion Collection – эксклюзивные интервью со значимыми фигурами в мире моды и искусства, аналитические статьи, обзоры примечательных тенденций, авторские фотоистории от лучших белорусских и российских фотографов.
</p>
<p>
	Белорусская редакция Fashion Collection ведет активную работу на модном рынке страны – организовывает множество тематических мероприятий: показов, тематических встреч, семинаров и лекций.
</p>
<p>
	<a href="/p/about-magazine">Подробнее о журнале</a>
</p>

<h4>Модафэст</h4>
<p>
	Один из проектов редакции Fashion Collection Belarus – первый региональный фестиваль моды и стиля МОДАФЭСТ, который каждый месяц проходит в одном из крупных городов Беларуси. Это событие дает возможность жителям регионов узнать больше о белорусской моде, стать участниками мастер-классов от профессионалов индустрии. В течение целого дня на одной из самых масштабных площадок города проходят мастер-классы приглашенных спикеров, показы одежды от модных брендов, а также маркет с участием лучших белорусских дизайнеров одежды и аксессуаров.
</p>
<h4>Академия</h4>
<p>
	Это образовательный проект, цель которого – трансляция современного, международного образования в сфере моды и креативных индустрий, которое позволит белорусским специалистам и тем, кто только мечтает ими стать, перейти на новый уровень развития своего дела, получить актуальные знания и свою порцию вдохновения. Лекторы академии – зарубежные, опытные профессионалы, имеющие за спиной большой опыт международной работы в сфере моды, дизайна и визуальной коммуникации. 
</p>
<h4>Beauty Box</h4>
<p>
	 Сайд-проект редакции Fashion Collection Belarus – бьюти-бокс сервис по ежемесячной доставке уникальных наборов косметики – как миниатюрных версий, так и полноразмерных продуктов. Мы сотрудничаем с ведущими поставщиками  в стране, отбираем лучшие новинки, чтобы познакомить с ними наших клиентов. Все продукты-участники проекта активно продвигаются на страницах нашего журнала Fashion Collection. В каждом номере выходит полоса с фотографией бокса и детализацией по каждому продукту в его составе.
</p>
<h4>Golden Беларусь</h4>
<p>
	 Открытый международный конкурс fashion-фотографии GOLDEN БЕЛАРУСЬ с главным призом – грантом на обучение в одной из лучших европейских школ моды, стиля и дизайна Istituto Marangoni (Милан, Италия). Уникальный проект реализуется при поддержке Альфа-Банка. Концепция конкурса заключается в творческом поиске и воплощении через fashion-фотографию яркого, современного, модного и индивидуального лица современной Беларуси, которая уверенно смотрит в будущее. Нюансом творческого задания является обязательное присутствие в фотоработах объектов красного цвета (например, элемент одежды, декора, интерьера и т.д.), что призвано подчеркнуть связь проекта с брендом Альфа-Банка.
</p>
