<h2>Контакты</h2>
<p>
	<strong>ООО «Нью Медиа Лайф»</strong> <br/>
	<strong>Беларусь,</strong> 220100 Минск, ул. Сурганова 61, офис 53а <br> Тел/факс: <a href="tel:+375172418561">+375 17 241 85 61</a>,  <a href="tel:+375172418562">+375 17 241 85 62</a>
</p>
<p>
	<strong>Алеся Васкевич</strong> <br>
	Директор <br>
	<a href="tel:+375296298889">+375 29 629 88 89</a> <br>
	<a href="mailto:alesia@fcollection.by">alesia@fcollection.by</a>
</p>
<p>
	<strong>Наталья Джумкова</strong> <br>
	Коммерческий директор <br>
	<a href="tel:+375293870738">+375 29 387 07 38</a> <br>
	<a href="mailto:natalliajumkova@gmail.com">natalliajumkova@gmail.com</a>
</p>
<p>
	<strong>Маргарита Лелес</strong> <br>
	Менеджер по рекламе <br>
	<a href="tel:+375291835102">+375 29 183 51 02</a> <br>
	<a href="mailto:lylmag@gmail.com">lylmag@gmail.com</a> <br>
	<a href="mailto:sales@fcollection.by">sales@fcollection.by</a>
</p>
<h4>Редакция</h4>
<p>
	<strong>Виктория Янковская</strong> <br>
	Шеф-редактор журнала, куратор Академии <br>
	<a href="tel:+375296093233">+375 29 609 32 33</a> <br>
	<a href="mailto:yankovska.v@gmail.com">yankovska.v@gmail.com</a><br>
	<a href="mailto:editor@fcollection.by">editor@fcollection.by</a>
</p>
<p>
	<strong>Анастасия Соколовская</strong> <br>
	Шеф-редактор сайта <br>
	<a href="mailto:anastasyasok@gmail.com">anastasyasok@gmail.com</a> <br>
	<a href="mailto:infomodafest@gmail.com">infomodafest@gmail.com</a>
</p>