body.search-modal-open {
	overflow: hidden;
	* {
		// lags with overlapping filter.
		filter: none !important;
	}
}

.search-modal {
	position: fixed;
	-webkit-overflow-scrolling: touch;
	overflow-y: auto;
	top: 336px;
	height: calc(100vh - 336px);

	@media (max-width: $small-breakpoint - 1) {
		top: 150px;
		height: calc(100vh - 150px);
	}

	left: 0;
	width: 100%;
	z-index: 100;
	background: transparent;
	background-color: rgba(255,255,255, .95);

	.search-modal-content {
		position: relative;
		max-width: 700px;
		min-height: 100%;
		margin: 0 auto;
		padding: 0 5px;
	}

	.search-result {
		display: block;
		position: relative;
		.search-result-title {
			margin-bottom: 16px;
		}
		p {
			font-family: $font-family-serif;
			margin-bottom: 8px;
		}

		padding: 20px 0;
		border-bottom: 2px solid $gray;
		&:hover {
			.search-result-title,
			.search-result-excerpt {
				span {
					color: $black;
					border-bottom: 1px solid $accent;
				}
			}
		}
	}
}