<div class="search-modal fade">
	<div class="search-modal-content">
		<loader ng-show="loading" class="relative margin-top" ></loader>

		<div class="error-message" ng-show="error && !loading">
			<div class="">
				<p>Ничего не нашлось. Попробуйте по-другому.</p>
			</div>
		</div>
		<div class="search-result-container" ng-show="!error && !loading">
			<a class="search-result" ng-repeat="a in articles track by a._id" ui-sref="article({articleId: a.id})">
					<h4 class="search-result-title"><span ng-bind-html="::a.title"></span></h4>
					<p class="search-result-excerpt"><span>{{::a.excerpt}}</span></p>
					<p class="caption-sm">{{::a.tags[0].name}} &mdash; <span am-time-ago="::a.createdAt"></span></p>
			</a>
		</div>
	</div>
</div>