<div ng-if="$ctrl.article">
    <a class="cell__cover row div-link" ui-sref="$ctrl.article({$ctrl.articleId: $ctrl.article.id})">
        <div class="col-xs-6 no-padding cover__image__container" ng-style="gridController.getImageBackground($ctrl.article.featuredImage.url)">
            <!-- <img class="cover__image" alt="" ng-src="{{$ctrl.article.featuredImage.url}}"/> -->
        </div>
        <div class="col-xs-6 cover__content__container">
            <div class="cover__content__top row center-xs">
                <span class="cover__content__top__center caption">{{::$ctrl.article.tags[0].name}}</span>
            </div>
            <div class="cover__content__main">
                <h2 class="cover__content__main__top cover__title">
                            {{::$ctrl.article.title}}
                        </h2>
                <p class="cover__content__main__bottom cover__excerpt">
                    {{::$ctrl.article.excerpt}}
                </p>
            </div>
            <div class="cover__content__bottom row between-xs">
                <span class="cover__content__bottom__left caption-sm">
                            {{::$ctrl.article.author}}
                        </span>
                <span class="cover__content__bottom__right caption-sm" am-time-ago="::$ctrl.article.createdAt"></span>
            </div>
        </div>
    </a>
    <!-- main $ctrl.article mobile -->
    <a class="cell__cover__xs div-link" ui-sref="$ctrl.article({$ctrl.articleId: $ctrl.article.id})">
        <div class="cell__bg-image__container cell_bg-image-filter" ng-style="gridController.getImageBackground($ctrl.article.featuredImage.url)">
            <!-- <img ng-src="{{$ctrl.article.featuredImage.url}}"/> -->
        </div>
        <div class="cell__bg-color"></div>

        <div class="cell">
            <div class="cell__content_container">
                <div class="cell__content__top row center-xs">
                    <span class="cell__content__top__center caption caption-white">{{::$ctrl.article.tags[0].name}}</span>
                </div>
                <div class="cell__content__main row middle-xs">
                    <div class="cell__content__main_top">
                        <h2 class="cell__title">{{::$ctrl.article.title}}</h2>
                    </div>
                </div>
                <div class="cell__content__bottom row center-xs">
                    <span class="cell__content__bottom__center caption-sm caption-white" am-time-ago="::$ctrl.article.createdAt"></span>
                </div>
            </div>
        </div>
    </a>
</div>