<div class="modal-header">
	<h3 class="modal-title">Добавить Ссылку</h3>
</div>
<div class="modal-body">
	<form name="insertLinkForm" novalidate>

		<!-- Text  -->
		<div class="form-group">
			<label for="title">Текст</label>
			<input class="form-control" id="title" name="title" ng-model="link.text" placeholder="Fashion Collection" required type="text">
		</div>

		<!-- Url  -->
		<div class="form-group">
			<label for="url">Url <em>Полностью (включая http://)</em></label>
			<input class="form-control" id="url" name="url" ng-model="link.url" placeholder="http://fcollection.by" required type="text">
		</div>

		<!-- isBlank  -->
		<div class="form-group">
			<label for="isblank">Открывать в новой вкладке?</label>
			<input style="display: inline; width: 40px; position: relative; top: 10px;"class="form-control" id="isblank" name="isblank" ng-model="link.isBlank" type="checkbox">
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" ng-click="cancel()" type="button">Отменить</button>
	<button class="btn btn-primary" ng-click="insertLink()" type="button" ng-disabled="!link.text || !link.url">Добавить</button>
</div>