<footer class="footer">
    <div class="hidden-xs" ng-include="'app/components/footer/footerContent.desktop.html'">
    </div>

    <div class="visible-xs" ng-include="'app/components/footer/footerContent.mobile.html'">
    </div>

</footer>
