<div class="footer-content-xs row">
	<div class="col-xs-6 footer-block-container">
		<div class="footer-block">
			<div class="footer-block-header">
				<h2>Теги</h2>
			</div>
			<ul>
				<li class="tag-link" ng-repeat="tag in footerCtrl.tags| offset:0 | limitTo:4">
					<a ui-sref="tag({tagId: tag.id})">{{tag.name}}</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="col-xs-6 footer-block-container">
		<div class="footer-block">
			<div class="footer-block-header">
				<h2> </h2>
			</div>
			<ul>
				<li class="tag-link" ng-repeat="tag in footerCtrl.tags| offset:4 | limitTo:4">
					<a ui-sref="tag({tagId: tag.id})">{{tag.name}}</a>
				</li>
			</ul>
		</div>
	</div>


	<div class="col-xs-6 footer-block-container">
		<div class="footer-block">
			<div class="footer-block-header">
				<h2>Проект</h2>
			</div>
			<ul>
				<li class="help-link">
					<a href="/p/about">О Проекте</a>
				</li>
				<li class="help-link">
					<a href="/p/contacts">Контакты</a>
				</li>
				<li class="help-link">
					<a href="http://old.fcollection.by" target="_blank">Старый fcollection.by</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="col-xs-6 footer-block-container">
		<div class="footer-block">
			<div class="footer-block-header">
				<h2>Журнал</h2>
			</div>
			<ul>
				<li class="help-link">
					<a href="/p/about-magazine">О Журнале</a>
				</li>
				<li class="help-link">
					<a href="/p/where-to-find">Где Найти</a>
				</li>
				<li class="help-link">
					<a href="https://issuu.com/fashioncollectionbelarus" target="_blank">Архив</a>
				</li>
			</ul>
		</div>
	</div>
</div>