<div class="footer-content row">
    <div class="col-sm-4 col-md-3 footer-block-container">
        <div class="footer-block">
            <div class="footer-block-header">
                <img class="footer-logo" src="assets/images/modafestLogoWhite.png"/>
            </div>
            <ul>
                <li class="help-link">
                    <a href="/p/about">О Проекте</a>
                </li>
                <li class="help-link">
                    <a href="/p/contacts">Контакты</a>
                </li>
				<li class="help-link">
                    <a href="http://old.fcollection.by" target="_blank">Старый fcollection.by</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-sm-4 col-md-3 footer-block-container">
        <div class="footer-block">
            <div class="footer-block-header">
                <h2>Мы в Cоцсетях</h2>
            </div>
            <ul>
                <li class="help-link">
                    <a href="#" ng-click="openBlank(social.fb)">
                        <i class="icon-facebook-squared social-icon"></i>
                        Facebook
                    </a>
                </li>
                <li class="help-link">
                    <a href="#" ng-click="openBlank(social.vk)">
                        <i class="icon-vkontakte social-icon"></i>
                        ВКонтакте
                    </a>
                </li>
                <li class="help-link">
                    <a href="#" ng-click="openBlank(social.inst)">
                        <i class="icon-instagram social-icon"></i>
                        Instagram
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-sm-4 col-md-3 footer-block-container">

        <div class="footer-block">
            <div class="footer-block-header">
                <h2>Журнал</h2>
            </div>
            <ul>
                <li class="help-link">
                    <a href="/p/about-magazine">О Журнале</a>
                </li>
                <li class="help-link">
                    <a href="/p/where-to-find">Где Найти</a>
                </li>
                <li class="help-link">
                    <a href="https://issuu.com/fashioncollectionbelarus" target="_blank">Архив</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="hidden-sm col-md-3 footer-block-container">
        <div class="footer-block">
            <a href="https://issuu.com/fashioncollectionbelarus/docs/web?e=18192563/36830764" target="_blank" class="footer-magazine-cover-link">
                <img class="footer-magazine-cover" alt="Последний номер журнала"
                     src="http://res.cloudinary.com/newlifemedia/image/upload/v1474615825/fcollection/обложка_осень_xqkmuv.jpg"/>
            </a>
        </div>
    </div>
</div>
