<div class="share-article-component">
    <a href="#" socialshare socialshare-provider="facebook" socialshare-text="{{share.article.title}}" socialshare-description="{{share.article.excerpt}}" socialshare-media="{{share.article.featuredImage ? share.article.featuredImage.url : getCoverImage()}}"
        socialshare-url="{{getCurrentUrl()}}" socialshare-type="feed" socialshare-via="1393590810657415" socialshare-caption="{{share.article.title}}">
        <i class="icon-facebook-squared social-icon"></i>
    </a>
    <a href="#" socialshare socialshare-provider="vk" socialshare-text="{{share.article.title}}" socialshare-description="{{share.article.excerpt}}" socialshare-media="{{share.article.featuredImage ? share.article.featuredImage.url : getCoverImage()}}"
        socialshare-url="{{getCurrentUrl()}}">
        <i class="icon-vkontakte social-icon"></i>
    </a>
    <a href="#" socialshare socialshare-provider="twitter" socialshare-text="{{share.article.title}}" socialshare-hashtags="{{share.tagsToString(share.article.tags)}}" socialshare-url="{{getCurrentUrl()}}">
        <i class="icon-twitter social-icon"></i>
    </a>
</div>