.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}
.spinner.no-margin{
    margin: 0;
}
.spinner.flex{
    align-items: flex-start;
    display: inline-block;
}
.spinner.blue{
    &>div {
        background-color: #f0ad4e;
    }
}

.spinner.absolute {
    position: absolute;
    top:50%;
    left: calc(50% - 35px);
}

.spinner > div {
  width: 9px;
  height: 9px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
