<div class="modal-header">
    <h3 class="modal-title">Изображение для статьи</h3>
    <button class="btn btn-warning modal-header__right-btn" ng-click="addImage()">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </button>
</div>
<div class="modal-body">
    <div class="photos-list row">
        <div class="photo-cell col-xs-2" ng-repeat="image in images track by image.public_id">
            <div class="photo col-xs-12">
                <input class="photo__selector" type="checkbox" ng-model="image.selected" ng-change="imageSelected(image)"/>
                <img class="photo-thumb" ng-src="{{image.thumbnailUrl || image.url}}" alt="">
            </div>
            <div class="photo-description col-xs-12">
                <p class="photo-title">{{image.title}}</p>
            </div>
        </div>
    </div>
    <nav ng-if="!end">
        <ul class="pager">
            <li><a ng-click="loadMore()">Показать Ещё</a></li>
        </ul>
    </nav>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()" type="button">Отмена</button>
    <button class="btn btn-primary" ng-click="chooseImagesAndClose()" type="button" ng-disabled="selectedImages.length === 0">Добавить</button>
</div>