.photo-thumb {
    object-fit: cover;
    width: 120px;
    height: 120px;
    margin: auto;
    display: block;
}

.new-files,
.new-files-wrapper {
    margin: 12px 0;
}

input[type='file'] {
    color: transparent;
}

.photos-list {
    padding-top: 16px;
}

.photo {
    padding: 0;
}

.photo-cell {
    padding: 0;
    cursor: pointer;
    margin-bottom: 8px;
    &:hover {
        filter: brightness(.75);
    }
}

.add-photo-wrapper {
    padding-top: 16px;
}

.file {
    margin-bottom: 16px;
    &.row {
        margin: 0;
    }
    h5 {
        margin: 0;
    }
    .preview {
        max-width: 100%;
        img {
            max-width: 100%;
            max-height: 400px;
        }
    }
}
