<div class="container">
   
    <ul class="nav nav-tabs">
        <li role="presentation" ui-sref-active="active"><a ui-sref="photos.gallery">Галерея</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="photos.addPhotos">Добавить</a></li>    
    </ul>
    
    <div class="ui-view"></div>
    
</div>