.article {
	background-color: #fff;
	margin: 0 -16px;
	padding: 40px 16px;
}

.article-header__tag {
	text-align: center;
	text-transform: uppercase;
}

.article-footer {
	border-top: 1px solid rgba(0,0,0,.1);
	padding-top: 20px;
}

.article-content {
	word-wrap: break-word;
}

.article-content img {
	display: block;
	max-width: 100%;
	max-height: 600px;
	width: auto;
	height: auto;
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 2.5rem;
}

.article-content h1 {
	font-size: 3rem;
	line-height: 1.3;
}

.article-content h2 {
	font-size: 2.4rem;
	line-height: 1.35;
}

.article-content h3,
h4 {
	font-size: 2.0rem;
	line-height: 1.35;
}

@media (min-width: 700px) {
	.article-content h1 {
		font-size: 3.4rem;
	}
	.article-content h2 {
		font-size: 2.8rem;
	}
	.article-content h3,
	h4 {
		font-size: 2.4rem;
	}
}

