<div class="login-card row" ng-class="{'login-error': login.loginError}" >
	<div class="col-xs-8 col-xs-offset-2">
		<div class="u-mg-b-8">
			<p class="product-name text-center top-mg-8">
				Fashion Collection <br> <small>Admin Dashboard</small>
			</p>
		</div>

		<form ng-submit="login.submit()" role="form" name="loginform" novalidate>
			<div class="form-inline">
				<label for="username"><i class="fa fa-user"></i></label>
				<input type="text" class="form-control" id="username" placeholder="Почта" ng-model="login.username" autofocus>
			</div>
			<div class="form-inline">
                <label for="password"><i class="fa fa-lock"></i></label>
                <input type="password" id="password" class="form-control" placeholder="Пароль"  ng-model="login.password">
			</div>
			<button type="submit" class="btn btn-default default-btn btn-login" ng-disabled="loginform.$invalid">Войти</button>
		</form>
	</div>
</div>

<p ng-if="login.loginError" class="login-page error-message">проверьте почту и пароль</p>
