@mixin card-transition($ms) {
    -webkit-transition: all $ms;
    -moz-transition: all $ms;
    transition: all $ms;
}

@mixin box-shadow($bshadow1, $bshadow2) {
    -webkit-box-shadow: $bshadow1, $bshadow2;
    box-shadow: $bshadow1, $bshadow2;
}

@mixin transform($transformY) {
    -webkit-transform: translateY($transformY);
    -moz-transform: translateY($transformY);
    transform: translateY($transformY);
}

.login-card {
    margin: auto;
    margin-top: 100px;
    padding: 30px 0px;
    width: 320px !important;
    position: relative;
    overflow: hidden;
    @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24));
    @include card-transition(250ms);
    div {
        padding: 0;
    }
    form {
        display: block;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .form-inline {
        position: relative;
        margin-left: 5px;
        margin-top: 4px;

        input {
            padding-left: 20px;
            margin-left: 20px;
            box-shadow: none;
            border: none;
        }

        label {
            position: absolute;;
            top: 10px;
        }
    }
    .form-control {
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
        border-radius: 0;
        padding: 0;
        margin-left: 12px;
        height: 40px;
    }
    .checkbox {
        margin-left: 6px;
        margin-top: 20px;
        span {
            margin-left: 7px;
        }
    }
    button {
        margin-top: 24px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 90px;
    }
    .product-name{
        font-size: 16px;
    }
}



@media screen and (max-width: 768px) {
    .login-card .form-inline label {
        display: none;
    }
    .login-card .form-inline,
    .login-card .form-inline input {
        margin-left: 0;
    }
}

@keyframes shake {
    from,
    to {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}

.shake {
    animation-name: shake;
}

.login-error {
    animation: shake 0.8s ease-out;
}

.login-page.error-message{
    text-align:center;
    margin-top: 2rem;
    color:#D62E2E;
}

.btn-login:hover{
    background-color: transparent;
}
