<div class="article container" ng-class="{'loading' : isLoading}">
    <article class="article-wrapper" ng-show="!isLoading">
        <header class="article-header">
            <div class="article-header-meta-top row center-xs">
                <a class="caption-lg" ui-sref="tag({tagId: articleController.article.tags[0].id })">{{articleController.article.tags[0].name}}</a>
            </div>
            <div class="article-header-content">
                <h3 class="article-header-content-title" ng-bind-html="articleController.article.title">
                </h3>
                <p class="article-header-content-excerpt" ng-bind-html="articleController.article.excerpt">
                </p>
            </div>
            <share-article article="articleController.article"></share-article>
            <div class="article-header-meta-bottom row center-xs">
                <span class="caption" am-time-ago="articleController.article.createdAt">
                </span>
            </div>
        </header>

        <article class="article-content" ng-bind-html="articleController.article.fullText">
		</article>

        <div class="article-footer" ng-if="articleController.article.tags && articleController.article.tags.length >= 1">
            <share-article article="articleController.article"></share-article>
            <div class="article-footer-tags">
                <h4 class="article-footer-tags-header">
                    Теги:
                </h4>
                <div class="article-footer-tags-list">
                    <a class="caption-list-float caption-lg" ng-class="{'icon-dot' : !$first}" ng-repeat="tag in articleController.article.tags" ui-sref="tag({tagId: tag.id })">{{::tag.name}}</a>
                </div>
            </div>
        </div>
        <div>
            <article-list articles="articleController.recommended"></article-list>
        </div>

        <div class="center-button-container" style="position: relative; top: 12px;">
            <div class="">
                <button class="button button-outline button-fc no-margin" ui-sref="section({sectionId: 'magazine'})">Перейти к журналу</button>
            </div>
        </div>

    </article>
    <!--<loader ng-show="isLoading"></loader>-->

</div>